# Arquivos de ambiente virtual
venv/
env/

# Banco de dados local
db.sqlite3

# Arquivos de byte compilados
*.pyc
__pycache__/

# Pasta de mídia - Você pode querer enviar esta para o servidor manualmente
media/

# Arquivos de log
*.log

# Arquivo .env para variáveis de ambiente
.env

# Pasta estática - gerada com 'collectstatic'
static/
