# Arquivos de ambiente virtual
venv/
env/

# Banco de dados local
db.sqlite3

# Arquivos de byte compilados
*.pyc
__pycache__/

# Pasta de mídia - Você pode querer enviar esta para o servidor manualmente
media/

# Arquivos de log
*.log

# Arquivo .env para variáveis de ambiente
.env

# Pasta estática - gerada com 'collectstatic'
static/
backend/venv/Lib/site-packages/dotenv/main.py
backend/venv/Lib/site-packages/dotenv/version.py
backend/venv/Lib/site-packages/python_dotenv-1.0.0.dist-info/entry_points.txt
backend/venv/Lib/site-packages/python_dotenv-1.0.0.dist-info/INSTALLER
backend/venv/Lib/site-packages/python_dotenv-1.0.0.dist-info/LICENSE
backend/venv/Lib/site-packages/python_dotenv-1.0.0.dist-info/METADATA
backend/venv/Lib/site-packages/python_dotenv-1.0.0.dist-info/RECORD
backend/venv/Lib/site-packages/python_dotenv-1.0.0.dist-info/REQUESTED
backend/venv/Lib/site-packages/python_dotenv-1.0.0.dist-info/top_level.txt
backend/venv/Lib/site-packages/python_dotenv-1.0.0.dist-info/WHEEL
backend/venv/Scripts/dotenv.exe
backend/venv/Lib/site-packages/dotenv/main.py
backend/venv/Lib/site-packages/dotenv/version.py
backend/venv/Lib/site-packages/python_dotenv-1.0.0.dist-info/entry_points.txt
backend/venv/Lib/site-packages/python_dotenv-1.0.0.dist-info/INSTALLER
backend/venv/Lib/site-packages/python_dotenv-1.0.0.dist-info/LICENSE
backend/venv/Lib/site-packages/python_dotenv-1.0.0.dist-info/METADATA
backend/venv/Lib/site-packages/python_dotenv-1.0.0.dist-info/RECORD
backend/venv/Lib/site-packages/python_dotenv-1.0.0.dist-info/REQUESTED
backend/venv/Lib/site-packages/python_dotenv-1.0.0.dist-info/top_level.txt
backend/venv/Lib/site-packages/python_dotenv-1.0.0.dist-info/WHEEL
backend/venv/Scripts/dotenv.exe
