/* frontend/src/assets/style.css */

/* Define color variables */
:root {
  --primary-blue: #446ebc; /* Primary Blue */
  --secondary-blue: #5cbecc; /* Secondary Blue */
  --primary-green: #7cbe04; /* Primary Green */
  --dark-blue: #34567a; /* Dark Blue for depth */
  --light-blue: #a7cdee; /* Light Blue for contrast */
  --white: #fff; /* White */
  --dark-gray: #333; /* Dark Gray */
  --black: #000; /* Black */
  --border-radius: 10px; /* Border radius for rounded corners */

  /* Additional colors from QuestionComponent.vue */
  --vt-c-black: #181818; /* Black for text */
  --vt-c-indigo: #2c3e50; /* Indigo */
  --color-border-hover: rgba(60, 60, 60, 0.12); /* Border hover color */
}

/* Global Styles */
html {
  height: 100%; /* Full height of the viewport */
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--primary-blue); /* Keep your primary blue background */
  color: var(--vt-c-black);
  line-height: 1.6;
  font-size: 20px;
  margin: 0;
  padding: 0; /* Reset padding to ensure footer sticks to the bottom */
  display: flex;
  flex-direction: column;
  min-height: 100%; /* Full viewport height */
}

/* Main Content Styling */
main {
  flex-grow: 1;
  padding: 10px 0;
  background-color: var(--primary-blue);
}

/* Footer Styling */
footer {
  padding: 5px;
  color: var(--dark-gray);
  text-align: center;
  background-color: var(--primary-green);
}

/* Header Styling */
header {
  padding: 10px 0;
  color: var(--white);
  background-color: var(--primary-green);
}

/* Header Link Styling */
header a {
  color: var(--white);
  text-decoration: none;
}

/* Navigation Bar Styling */
nav {
  background-color: var(--secondary-blue);
}

/* Navigation Bar Link Styling */
nav a {
  color: var(--white);
  text-decoration: none;
  padding: 4px;
}

/* Hover State for Navigation Bar Links */
nav a:hover {
  color: var(--white);
  background-color: var(--secondary-blue);
  border-radius: var(--border-radius);
}

/* Specific Styling for Bootstrap Navigation Bar */
.navbar {
  background-color: var(--primary-green);
}

/* Hover State for Bootstrap Navigation Bar Links */
.navbar .nav-link:hover {
  color: var(--white);
  background-color: var(--primary-blue);
  border-radius: var(--border-radius);
}

/* Responsive Styling for Navigation Bar in Small Screens */
@media (max-width: 576px) {
  .navbar {
    padding: 5px 0;
  }
}

/* Headings Styling */
h1 {
  color: var(--white);
  background-color: var(--primary-green);
  text-align: center;
}

h2 {
  color: var(--white);
  background-color: var(--secondary-blue);
  text-align: center;
  border-radius: var(--border-radius);
}
/* Card Component Styling */
.card {
  padding: 10px;
  background-color: var(--white);
  margin: 16px;
  border-radius: 4px;
}

/* Form Styling */
form {
  background-color: var(--primary-green);
  padding: 20px;
  border-radius: 4px;
}

/* Styling for Text, Password, and Email Input Fields */
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--primary-blue);
  border-radius: 4px;
  box-sizing: border-box;
}

/* Submit Button Styling */
input[type="submit"] {
  width: 100%;
  background-color: var(--primary-blue);
  color: var(--white);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hover State for Submit Button */
input[type="submit"]:hover {
  background-color: var(--secondary-blue);
  border-radius: var(--border-radius);
}

/* Additional Classes */
.help-text {
  font-size: 0.8em;
}

.error-message {
  font-size: 1em;
  color: red;
}

.submit-button {
  text-align: right;
  padding: 12px 28px;
  border-radius: var(--border-radius);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  color: var(--white);
}

.form-group {
  background-color: var(--primary-green);
  padding: 10px;
  border-radius: 5px;
}

.form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--primary-blue);
  border-radius: 4px;
  box-sizing: border-box;
}

.form-submit {
  width: 100%;
  background-color: var(--primary-blue);
  color: var(--white);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.field-group {
  margin-bottom: 1rem;
}

.formfield {
  display: table;
  width: 100%;
  padding-bottom: 5px;
}

.formfield label,
.formfield .input-wrapper {
  display: table-cell;
  vertical-align: top;
}

.formfield .input-wrapper .table-form {
  width: 100%;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allows cards to wrap to new line if insufficient space */
  border-radius: 10px;
}

.news-card {
  margin: 10px;
  border-radius: 10px;
}

/* Graph Container Specific Style */
.graph-container {
  background-color: var(--white);
  padding: 20px;
  margin: 2rem auto; /* Centers the graph on the page with top and bottom margin */
  max-width: 600px; /* Set a max-width for the graph container */
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Additional styles to ensure responsiveness across devices */
  width: 80%; /* You can adjust this percentage based on your design preference */
}

/* Adicione estilos específicos para dispositivos móveis */
@media (max-width: 768px) {
  /* Ajuste o padding do formulário para garantir que ele caiba dentro do modal */
  form {
    padding: 10px; /* Reduza o padding se necessário */
  }

  /* Ajuste a largura dos inputs para garantir que eles não excedam a largura do modal */
  input[type="text"],
  input[type="password"],
  input[type="email"],
  select {
    width: calc(
      100% - 24px
    ); /* Ajuste a subtração de acordo com o padding desejado */
    box-sizing: border-box; /* Garante que o padding seja incluído no cálculo da largura */
  }

  /* Certifique-se de que os .formfield não ultrapassem a largura do modal */
  .formfield {
    display: block; /* Em vez de table, para que cada campo ocupe sua própria linha */
    width: 100%; /* Ajuste a largura para preencher o espaço disponível */
  }

  /* Ajuste o tamanho dos elementos .row e .col para dispositivos móveis */
  .row,
  .col {
    width: 100%; /* Garante que eles ocupem toda a largura disponível */
    padding: 0; /* Remova o padding para evitar que os elementos saiam para fora do modal */
  }
}
