@import './base.css';

/* Main Content */
main {
  padding: 10px 0;
  background-color: #446ebc;
}

/* Footer */
footer {
  padding: 5px;
  color: #333;
  text-align: center;
  background-color: #7cbe04;
}

/* Header */
header {
  padding: 10px 0;
  color: #fff;
  background-color: #7cbe04;
}

/* Header Links */
header a {
  color: #fff;
  text-decoration: none;
}

/* Navigation Bar */
nav {
  background-color: #5cbecc;
}

/* Navigation Bar Links */
nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

/* Navigation Bar Links - Hover State */
nav a:hover {
  color: #fff;
  background-color: #5cbecc;
}

/* Navigation Bar - Bootstrap Specific */
.navbar {
  background-color: #7cbe04;
}

/* Navigation Bar Links - Bootstrap Specific - Hover State */
.navbar .nav-link:hover {
  color: #fff;
  background-color: #446ebc;
}

/* Navigation Bar - Responsive - Padding for screens less than 576px wide */
@media (max-width: 576px) {
  .navbar {
    padding: 5px 0;
  }
}

/* Headings */
h1 {
  color: #fff;
  background-color: #7cbe04;
  text-align: center;
}

h2 {
  color: #fff;
  background-color: #5cbecc;
  text-align: center;
}

h3 {
  color: #446ebc;
  text-align: center;
}

/* Card Component */
.card {
  padding: 20px;
  margin-top: 20px;
  background-color: white;
  margin: 16px;
}

/* Set the font for the entire body to Arial, sans-serif and set the background color */
body {
  font-family: Arial, sans-serif;
  background-color: #7cbe04;
}

/* Set the background color, padding, and border radius (rounded corners) for forms */
form {
  background-color: #7cbe04;
  padding: 20px;
  border-radius: 4px;
}

/* Style text, password, and email input fields to take up full width, 
     with padding for text inside, margin outside, and a styled border */
input[type='text'],
input[type='password'],
input[type='email'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #446abc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button to take up full width, with a specific background color, text color,
     padding, margin, and no border */
input[type='submit'] {
  width: 100%;
  background-color: #446abc;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Change the background color of the submit button when hovered over */
input[type='submit']:hover {
  background-color: #5cbecc;
}

.help-text {
  font-size: 0.8em;
}

.error-message {
  font-size: 1em;
  color: red;
}

.submit-button {
  text-align: right;
  padding: 12px 28px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  color: #fff;
  /* Change as needed */
}

.modal {
  display: block !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
}

.modal-header {
  background-color: #446abc;
  color: white;
}

.form-group {
  background-color: #7cbe04;
  padding: 20px;
  border-radius: 5px;
}

.form-label {
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #446abc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-submit {
  width: 100%;
  background-color: #446abc;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.field-group {
  margin-bottom: 1rem;
}

.formfield {
  display: table;
  width: 100%;
  padding-bottom: 25px;
}
.formfield label,
.formfield .input-wrapper {
  display: table-cell;
  vertical-align: top;
}

.formfield label {
  width: 100px;
}

.formfield .input-wrapper .table-form {
  width: 100%;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Isto permite que os cards se ajustem numa nova linha caso não haja espaço suficiente */
}
.news-card {
  margin: 10px;
}
